.wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: aqua; */
  background-image: url("./components/images/aldino-hartan-putra-YqN0mzwVsz0-unsplash.jpg");
  background-position: center;
  opacity: 0.9;
}
.inner-content {
  background-color: rgba(255, 253, 253, 0.754);
  overflow: hidden;
  border-radius: 10px;
}
.heading {
  /* padding: 4px 24px; */
  padding: 0;
}
h1 {
  color: white;
  background-color: green;
  padding: 4px;
}
